* {
    --edge-correct-color: rgba(84, 255, 54, 0.822);
    --edge-wrong-color: rgba(255, 92, 92, 0.822);
    --background-color: rgb(94, 28, 28);
    --lighter-background-color: rgb(255, 228, 76);
    --tile-color: rgb(255, 170, 101);
}

html, body {
    margin: 0px;
    background-color: var(--background-color);
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    color: var(--tile-color)
}
.wrapper{
    height:100vh;
    margin-left:10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title{
    font-size : 5rem;
}

.menu-item{
    font-size: 2rem;
    transition: 0.3s;
}

.menu-item:hover{
    margin-left:1%;
}