body {
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: rgb(25, 25, 25);
    
}

* {
    box-sizing: border-box;
    user-select: none;
    font-family: 'Lucida Console', Geneva, Tahoma, sans-serif;
}

.wrapper {
    width: 50vw;
    height: 100vh;
    background-color: rgb(25, 25, 25);
    display: flex;
}

.sidebar {
    width: 15vw;
    height: 100vh;
    background-color: rgb(87, 4, 4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;   
}

.projects {
    width: 35vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    /* padding: 3vw; */
    gap: 2vw;
    transition: 1s;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.projects::-webkit-scrollbar {
    display: none;
}

.project {
    opacity: 0;
    
    cursor: pointer;
    
}

.project:hover {
    transform: scale(1.05);
}

.projectid {
    padding-left: 3vw;
    padding-right: 3vw;
    transition: opacity 0.5s, transform 0.2s, height 1s, padding 1s;
}

.content {
    padding:10px;
}

.short-info {
    color:white;
    font-size: 1vw;
}

.coding-languages {
    color:grey;
    font-size: 1vw;
}

.info {
    opacity: 0;
    display: none;
}

.sidebar-item {
    text-align: end;
    color:white;
    padding-right: 1rem;
    transition: 0.2s;
    border-right: 0px solid white;
}

.child {
    font-size: 1vw;
}

.parent{
    font-size: 1.2vw;
}

.select {
    border-right: 0.5vw solid white;
}

.sidebar-item:hover, .sidebar-child-item:hover {
    border-right: 0.5vw solid white;
    cursor: pointer;
}

.go-back {
    color: white;
    font-size: 50px;
    z-index: 1;
    position: absolute;
    transition: 0.3s;
    left: 41%;
    top: 2%;
    opacity: 0;
}

.go-back:hover {
    transform: scale(1.3);
}