body {
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: rgb(25, 25, 25);
}

* {
    box-sizing: border-box;
    user-select: none;
}

.wrapper {
    width: 50vw;
    height: 100vh;
    background-color: rgb(25, 25, 25);
    display: flex;
}

.sidebar {
    width: 15vw;
    height: 100vh;
    background-color: rgb(87, 4, 4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;   
}

.projects {
    width: 35vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: 3vw;
    gap: 2vw;
    transition: 1s;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
}

.projects::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.project {
    opacity: 0;
    transition: opacity 0.5s, transform 0.2s, height 1s;
    cursor: pointer;
}

.project:hover {
    transform: scale(1.05);
}

.short-info {
    color:white;
    font-family: 'Lucida Console', Geneva, Tahoma, sans-serif;
    font-size: 1vw;
}

.info {
    opacity: 0;
    display: none;
}

.sidebar-item {
    font-family: 'Lucida Console', Geneva, Tahoma, sans-serif;
    text-align: end;
    color:white;
    padding-right: 1rem;
    transition: 0.2s;
    border-right: 0px solid white;
}

.child {
    font-size: 1vw;
}

.parent{
    font-size: 1.2vw;
}

.select {
    border-right: 0.5vw solid white;
}

.sidebar-item:hover, .sidebar-child-item:hover {
    border-right: 0.5vw solid white;
    cursor: pointer;
}